* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
} 
.logo span{
	font-size: 30px;
	font-style: bold;
}
.logo span:first-child {
	color: red;
}
.logo span:nth-child(2) {
	color: blue;
}
.logo span:nth-child(3) {
	color: yellow;
}
.logo span:nth-child(4) {
	color: orange;
}
.logo span:nth-child(5) {
	color: green;
}
input[type="text"] {
	width: 400px;
	height: 20px;
	padding-left: 5px;
}
input[type="button"] {
	width: 80px;
	height: 24px;
}
.container {
	width: 800px;
	margin: 60px 24px 50px;
}
img {	
	width: 200px;	
	text-align: center;
	margin: 0 auto;	
}
footer {
	height: 80px;
	background: #eee;
	border-top: 1px solid #ccc;
	margin-top: 50px; 
}
footer p {
	text-align: center;
	padding-top: 30px;
}
figure {
	display: inline-block;
	vertical-align: middle;
	text-align: center;	
	width: 246px;
	padding-top: 15px;
	border: 1px solid #fff;	

}
figure:hover {
	border: 1px solid lightblue;
}
figcaption p {
	font-size: 12px;
	text-align: left;
	padding: 0 20px 0 23px;
}
